# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.env

# dbt
target/
dbt_packages/
logs/

# DuckDB
*.duckdb
*.duckdb.wal

# Parquet file results
datalake/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo